    :root{
        --mainPurple:#be8ed8;
        --mainYellow:#ebf3a0;
        --transyellow:#ebf3a094;
    }

.contact__Background{
    width: 100%;
    height: 40rem;
    background-image: url('../../Img/contact\ background.jpeg');
    background-size: cover;         /* makes the image fill the div */
    background-position: center 20%;    /* centers the image */
    background-repeat: no-repeat;
}
.disclaimer__colorBackground{
    height: 100%; 
}
/* SOLO el fondo es transparente */
.disclaimer__colorBackground::before {
    width: 100%;
    height: 40rem;
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('../../Img/background contact.png');
    background-size: cover;
    background-position: center 20%;
    background-repeat: no-repeat;
    opacity: 0.6;        
    z-index: 1;
}
.disclaimer_info {
    position: relative;
    z-index: 2;
    height: 100%; 
    display: flex;
    flex-direction: column;
}

.contact__title{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact__title__text{
    margin-bottom: 4rem;
     font-family: "Momo Signature", cursive;
    font-weight: 500;
    font-style: normal;
    color: azure;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.Socialmedia{
    font-size: 4rem;
    color: var(--mainPurple);
        text-shadow: 2px 2px 4px rgba(255, 253, 130, 0.4);
}
.Socialmedia:hover{
    cursor: pointer;
    transform: scale(1.2);
    color: var(--mainYellow);
        text-shadow: 2px 2px 4px rgba(204, 2, 255, 0.4);
}
.textContact{
     font-family: "Comic Neue", cursive;
    font-weight: 500;
    font-style: normal;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.belowTextContact{
    font-family: "Momo Signature", cursive;
    font-weight: 600;
    font-style: normal;
    color: var(--mainPurple);
    text-shadow: 2px 2px 4px rgba(237, 255, 75, 0.4);
}
.info__contactconatiner{
    width: 100%;
    height: 20rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.infocontact_content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.socialmedia__container{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}
.arrowIcon{
        font-size: 2rem;
}
.info__contact__text{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}