:root{
    --mainPurple:#be8ed8;
    --mainYellow:#ebf3a0;
    --transyellow:#ebf3a094;

    --Green: #aae9a3;
    --blu: #8cc3df;
    --pin: #f89aaa;
}  

.dashboard__real__content{
    width: 100%;
    height: 46rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.Scrapp__container{
    margin-left: 10rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.scrapp__search{
    width: 100%;
}

.scrapp__search__input{
    border-radius: 2rem;
}
.scrapp__input__container {
  width: 80%;
  display: flex;
  flex-direction: row;
}
.scrapp__input__button{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--mainPurple);
  border: 1px solid var(--mainPurple);
  transition: transform 0.2s ease ;
  box-shadow: 0 4px 15px rgba(0, 0, 0.1, 0.3);
}

.scrapp__input__button:hover{
  transform: scale(1.1);
  background-color: var(--mainYellow);
  border: 1px solid var(--mainYellow);
}
.sendIcon__scrapp{
  width: 2rem;
  
}
.scrapp__input__button__container{
  padding-left:1rem;
}
.srapp__title__container{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: -20%;
}
.srapp__title{
   font-family: "Momo Signature", cursive;
    font-weight: 500;
    font-style: normal;
    color: var(--mainPurple);
    text-shadow: 2px 2px 4px var(--mainYellow);
}

.scrapp__buttons{
  width: 75%;
  display: flex;
  justify-content: end;
}

.mod--arX{
  color:azure;
  background-color: var(--Green);
  border: 1px solid var(--Green);
  box-shadow: 0 4px 15px rgba(0, 0, 0.1, 0.3);
}
.mod--cross{
  color: azure;
  background-color: var(--pin);
  border: 1px solid var(--pin);
  box-shadow: 0 4px 15px rgba(0, 0, 0.1, 0.3);
}
.mod--pub{
  color: azure;
  background-color: var(--blu);
  border: 1px solid var(--blu);
  box-shadow: 0 4px 15px rgba(0, 0, 0.1, 0.3);
}

.srapp__answer__container{
  width: 80%;
  height: 5rem;
  border-radius:2rem;
  box-shadow: 0px 5px 15px rgba(87, 80, 44, 0.3);
}

.divider__dashboard{
  margin-top: 5rem;
  margin-left: -8%;
  width: 80%;
  height: 3px;
  background: linear-gradient(
    to right,
    transparent,
    rgba(195, 0, 255, 0.727),
    transparent
  );
}

.mod--IA{
  height: 30rem !important;
  margin-bottom: -3rem;
}