:root{
    --mainPurple:#be8ed8;
    --mainYellow:#ebf3a0;
    --transyellow:#ebf3a094;
}


.big__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
html, body {
  overflow-x: hidden;
}

.navbar-aside {
    width: 15rem;
    height: 100vh; 
    background-color: var(--mainPurple);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly!important;
    box-shadow: 9px 0 5px rgba(0, 0, 0, 0.278);
    position: fixed;
    top: 0;
    left: 0;

}
.aside__container{
    width: 20%;
}

.dashboard__content{
    flex: 1;
  width: calc(100% - 18%);
}

.sections__container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.profile__section__container{
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.AI__history__container{
    width: 100%;
    height: 34%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.scrapp__history__container{
    width: 100%;
    height: 34%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.image__profile__container{
    width: 9rem;
    aspect-ratio: 1 / 1;   /* 🔑 siempre cuadrado */
    border-radius: 50%;
    overflow: hidden;
}
.profile__image{
    width: 100%;
    object-fit: cover !important;
}

.father__image__profile__container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center ;
}
.username__Container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.username__profile{
    font-family: "Momo Signature", cursive;
    font-weight: 500;
    font-style: normal;
    color: azure;
    text-shadow: 2px 2px 4px var(--transyellow);
}

.h__title__conatiner{
    width: 100%;
    display: flex;
    justify-content: center;
}

.history__title__text{
    font-family: "Momo Signature", cursive;
    font-weight: 500;
    font-style: normal;
    color: azure;
    text-shadow: 2px 2px 4px var(--transyellow);
}

.history__container{
    width: 85%;
    height: 75%;
    background-color: rgba(240, 248, 255, 0.552);
    border-radius: 8%;
}
.divider {
  height: 3px;
  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.727),
    transparent
  );
}
.message__icon{
    width: 1rem;
    display: inline-flex;
    font-size: large;
    cursor: pointer;
    color: azure;
    align-items: center;
    justify-content: flex-start; /* start */
    transition: transform 0.2s ease;
    transform-origin: center; /* 🔥 CLAVE */
}
.message__icon:hover{
     transform: scale(1.2);
     color: var(--mainYellow);
}