.infoBanner{
    width: 100%;
    height: 40rem;
}
.infoBanner__info{
    width: 45%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.infoBanner__info__title{
    font-family: "Momo Signature", cursive;
    font-weight: 500;
    font-style: normal;
    color: azure;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.infoBanner__info__text{
    font-family: "Comic Neue", cursive;
    font-weight: 500;
    font-style: normal;
    color: azure;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}