:root{
    --mainPurple:#be8ed8;
    --mainYellow:#ebf3a0;
}

.LoginBackground{
    width: 100%;
    height: 120vh;
    background-image: url('../../Img/background\ login.png');
    background-size: cover;         /* makes the image fill the div */
    background-position: center 20%;    /* centers the image */
    background-repeat: no-repeat;
}
.login__container{
    width: 30rem;
}
.inputsLog{
    width: 25rem !important;
}
.form__login{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputPl{
    height: 2.8rem !important;
}
.login__info__text{
     font-family: "Comic Neue", cursive;
    font-weight: 505;
    font-style: normal;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
}
.main__Container{
    margin-top: 4rem;
    width: 100%;
    height: 38rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.video__container{
    margin-top: 3rem;
    width: 45rem;
    height: 45rem;
    background-color: rgba(240, 255, 255, 0.562);
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}